{
  box-sizing: border-box;
}

body {
  margin:0;
  font-family: system-ui, sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(2, 2, 2);
  text-align: center;

}
a{
color:black;
background-color: red;




}
