  body{
      margin:0;
      font-family: system-ui, sans-serif;
      color: rgb(37, 37, 37);
      background-color: rgb(2, 2, 2);
      text-align: center;

  }
  a{
    background-color: red;
    color: black;
    


  }
  img{
    






  }